h1 {
    text-decoration: underline;
    color: greenyellow;
    font-family: sans-serif;
    color: rgb(234,243,90);
  }

  h2 {
    font-family: sans-serif;
    color: greenyellow;
    color: rgb(23,246,23);
  }
  
h3 { font-family: sans-serif;
  color:greenyellow;
 
  
}
  img {
    float: inherit;
    width: 234px;
    margin: 10px;
    border-color: springgreen;
    border-width: 10px;
    border-style: solid;
    border-radius: 100px;
  }

  p {
    text-align: left;
    font-family: monospace;
    font-size: 14px;
   

  }
body {
  background-color: lightblue;
}

;
  border-width: 1opx;
  border-style: solid;
  border-radius: 10px;

}

p {
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  
  
  

}
}

.fall {
  color: rgb(61,172,83);
  font-family: inherit;
}
